<div fxLayout="column" fxFill style="padding:20px;padding-top: 10px;" fxLayoutGap="8px">
    <div fxFlex="20px" class="titlePage">
        Rdv Médical > Gestion des Rdv
    </div>


     
    
    <div fxFlex="62px" class="gridReserveOptions" fxLayout="row" fxLayoutGap="5px">



        <div class="colored box" style="cursor: pointer; flex-direction: row; box-sizing: border-box; display: flex;">
            <!-- search -->
            <div fxflex="60" style="flex: 1 1 100%; box-sizing: border-box; max-width: 80%;">
                <div fxFlex fxLayout="row">




                    <div style="padding-left: 5px;padding-top: 3px;padding-bottom: 4px;">
                        <dx-text-box fxFlex="calc(100% - 350px)" [class]="'textBoxCssClass'" valueChangeEvent="keyup"
                            stylingMode="filled" [placeholder]="'Recherchez nom , prénom ... '" mode="search" [(value)]="searchText"
                            [showClearButton]="true"
                            (onValueChanged)="searchPatient()">
                        </dx-text-box>

                    </div>
                </div>
            </div>
            <!-- buttons controle -->
            <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 10%;">

                <div style="float: left;
                font-size: 14px;
                color: white;
                padding-top: 5px;">

                    <dx-button stylingMode="outlined" text="Nouveau" type="normal" [width]="130" [icon]="'plus'"
                        (click)="newPatientPopUp()"></dx-button>



                </div>
            </div>

            <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 10%;">
                <div style="float: left;
                font-size: 14px;
                color: white;
                padding-top: 5px;">

                    <dx-button stylingMode="outlined" text="Recharger" type="normal" [width]="130" [icon]="'refresh'"
                        (click)="GetAllPateintList()"></dx-button>


                </div>
            </div>

        </div>


    </div>
    <!-- list patiens -->

  

    <!-- rdv -->
    <div fxFlex="calc(100% - 180px)" style="height: 600px;">

        <dx-scheduler
        #scheduler_ges id="scheduler_ges"
        timeZone="Etc/UTC"
        textExpr="title"
        allDayExpr="dayLong"
        [height]="'calc(100% - 60px)'"
        ScrollAreaHeight="100%"
        [adaptivityEnabled]="true"
        [showCurrentTimeIndicator]='true' 
        [shadeUntilCurrentTime]='true'
        [firstDayOfWeek]="6"
        [currentDate]="currentDate"
        [dataSource]="rdvData"
        startDateExpr="startTime" 
        endDateExpr="endTime"
        currentView="week"
        [allDayPanelMode]="'hidden'"
        (onContentReady)="onContentReady($event)"
        (onAppointmentUpdating)="onAppointmentUpdating($event)"
        (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
        (onOptionChanged)="handlePropertyChange($event)"> 
      >
      <dxi-view
      type="week"
      [startDayHour]="07"
      [endDayHour]="22">
  </dxi-view>
      <dxi-view
        type="day"
        [startDayHour]="07"
        [endDayHour]="22">
    </dxi-view>
   
   
    </dx-scheduler>

    </div>


</div>

<!-- new patinet -->

<dx-popup [wrapperAttr]="{ class: 'searchAmorFiltresPopup' }" [width]="670" [height]="277" [showTitle]="true"
    [position]="'top'" [dragEnabled]="false" title="Nouveau rdv. médical" [hideOnOutsideClick]="true"
    [(visible)]="popupVisible">

    <div fxLayout="column" fxFill fxLayoutGap="5px" fxFill>

        <!-- nom & prenom -->
        <!-- nom & prenom -->
        <div style="display: flex; padding-bottom: 8px;">


            <div>
                <span class="titreCmt">Nom ,Prénom Date de naissance</span>

                                    <dx-autocomplete
                                    [width]="631"
                                    placeholder="Nom"
                                    [showClearButton]="true"
                                    [(value)]="searchText"
                                    [dataSource]="LstPatients"
                                    (onValueChanged)="searchPatient()"
                                    (onSelectionChanged)="selectedPatien($event)"
                                    valueExpr="autocpmliteValue"
                                  ></dx-autocomplete>
              
            </div>
    
            

        </div>

        <!-- Prochain Rdv -->

        <div style="display: flex;padding-bottom: 15px;">

            <div>

                <span class="titreCmt">Prochain Rdv</span>

                <dx-date-box #dateRdv placeholder="Ex : JJ/MM/AAAA" [min]="pat_date_rdv">
                </dx-date-box>


            </div>

            <div style="padding-left: 5%;">

                <span class="titreCmt">de</span>
                <dx-date-box #startRdv placeholder="HH:mm" type="time" [width]="133" [interval]="15"
                    [inputAttr]="{ 'aria-label': 'Time' }">
                </dx-date-box>

            </div>

            <div style="padding-left: 5%;">

                <span class="titreCmt">à</span>
                <dx-date-box #endRdv placeholder="HH:mm" type="time" [width]="133" [interval]="15"
                    [inputAttr]="{ 'aria-label': 'Time' }">
                </dx-date-box>

            </div>



        </div>

        <div fxFlex="62px" class="gridReserveOptions" style="width: 631px !important;" fxLayout="row" fxLayoutGap="5px">


            <div class="colored box"
                style="cursor: pointer; flex-direction: row; box-sizing: border-box; display: flex;">
              
                <div fxflex="60" style="flex: 1 1 100%; box-sizing: border-box; max-width: 73%;">
                    <div fxFlex fxLayout="row">
                        <div style="padding-left: 5px;padding-top: 3px;padding-bottom: 4px;">


                        </div>
                    </div>
                </div>
                <!-- buttons controle -->


                <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 25%;">
                    <div style="float: left;
                    font-size: 14px;
                    color: white;
                    padding-top: 0px;
                    padding-left: 22px;">

                        <dx-button stylingMode="outlined" text="Ajouter" type="normal" [width]="130" [icon]="'todo'"
                            (click)="newRdv()"></dx-button>


                    </div>
                </div>

            </div>


        </div>



    </div>

  
</dx-popup>