html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.image-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    background-color: lightslategrey;
}

.thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
}