<div fxLayout="column" fxFill style="padding:20px;padding-top: 10px;" fxLayoutGap="8px">
    <div fxFlex="20px" class="titlePage">
        Pateints > Toutes les patients
    </div>

    

    <div fxFlex="calc(100% - 180px)">

        <dx-data-grid #dataGrid class="gridContainer"    [showBorders]="true" 
        [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [showRowLines]="true"  noDataText=""
        [dataSource]="LstPatients"  
        [showBorders]="true"  dataRowTemplate="dataRowTemplateName">
     
       
        <dxi-column   caption="id" dataField="id" [visible]="false" ></dxi-column>
        <dxi-column  [width]="200"  caption="Nom"></dxi-column>
        <dxi-column  [width]="200"  caption="Prenom"></dxi-column>
        <dxi-column  [width]="100"  caption="Sexe" ></dxi-column>
        <dxi-column  [width]="80"  caption="Age" ></dxi-column>
        <dxi-column  [width]="200"  caption="Date de naissance" ></dxi-column>
        <dxi-column  [width]="250"  caption="Prochain RDV"></dxi-column>
        <dxi-column  [width]="200"  caption="N° sécurité sociale "></dxi-column>
        <dxi-column  [width]="200"  caption="Mobile"></dxi-column>
 
        <ng-container *dxTemplate="let patient of 'dataRowTemplateName'" class="ficheControle dx-row">
            <tr class="main-row" id="row-{{patient.data.id}}" (click)="this.showRow(patient.data.id)">
                <td style="color: #00679a;">{{patient.data.firstName}}</td>
                <td style="color: #00679a;">{{patient.data.lastName}}</td>
                <td style="color: #00679a;">Male</td>
                <td style="color: #00679a;">{{patient.data.age}}</td>
                <td style="color: #00679a;">{{convertDate(patient.data.birthDate)}}</td>
                <td style="color: #00679a;">{{convertDateWithTime(patient.data.nextAppointment)}}</td>
                <td style="color: #00679a;">18995331375</td>
                <td style="color: #00679a;">0623797026</td>
            </tr>
            <tr class="PatientDetail" id="{{patient.data.id}}" style="display: none;">
                <td colspan="8" tyle="background-color: #00679a !important;">

                    <div>
                        <div class="thing">
                            <div>Nom : <span>{{patient.data.firstName}}</span>, Prénom : <span>{{patient.data.lastName}}</span></div>
                            <div></div>
                            <div>Age : <span>{{patient.data.age}}</span><span> ans</span></div>
                        </div>
                        
                    </div>
    

                </td>
         
            </tr>
          
        </ng-container>
        
    </dx-data-grid>

    </div>
</div>