<div fxLayout="column" fxFill style="padding:20px;padding-top: 10px;height: max-content;" fxLayoutGap="8px">

    <div fxFlex="62px" class="gridReserveOptions" fxLayout="row" fxLayoutGap="5px">



        <div class="colored box" style="cursor: pointer; flex-direction: row; box-sizing: border-box; display: flex;">


            <div style=" box-sizing: border-box; ">

                <div style="float: left;
                font-size: 14px;
                color: white;
                padding-top: 5px;">

                    <dx-button stylingMode="outlined" text="Enregistrer" type="normal" [width]="150" [icon]="'save'"
                        (click)="SetPateint()"></dx-button>



                </div>
            </div>
            <!-- buttons controle -->


            <div style=" box-sizing: border-box; ">
                <div style="float: left;
                font-size: 14px;
                color: white;
                padding-top: 5px;">

                    <dx-button stylingMode="outlined" text="Recharger" type="normal" [width]="130" [icon]="'refresh'"
                        (click)="GetAllPateintList()"></dx-button>


                </div>
            </div>

            <div style=" box-sizing: border-box; ">
                <div style="float: left;
                font-size: 14px;
                color: white;
                padding-top: 5px;">

                    <dx-button stylingMode="outlined" text="Supprimer" type="normal" [width]="130" [icon]="'trash'"
                        (click)="DeletePatient()"></dx-button>


                </div>
            </div>

        </div>


    </div>




    <!-- detail patient -->
    <div id="form-container" class="box-shadow" style="height: 250;">

        <dx-form id="form" [formData]="currentPatient">
            <dxi-item itemType="group" [colCount]="3"
                caption="Details Pateint: {{ currentPatient.firstName}} {{ currentPatient.lastName}} ,{{currentPatient.age}} ans">
                <!-- Nom -->
                <dxi-item dataField="firstName" [editorOptions]="textBoxOptions">
                    <dxi-validation-rule type="required" message="Nom obligatoire"></dxi-validation-rule>
                    <dxo-label template="Nom "></dxo-label>
                </dxi-item>
                <!-- Prenom -->
                <dxi-item dataField="lastName" [editorOptions]="textBoxOptions">
                    <dxi-validation-rule type="required" message="Prénom obligatoire"></dxi-validation-rule>
                    <dxo-label template="Prénom "></dxo-label>
                </dxi-item>
                <!-- Sexe -->
                <dxi-item dataField="gender" editorType="dxSelectBox" [editorOptions]="positionEditorOptions">
                    <dxi-validation-rule type="required" message="Sexe obligatoire"></dxi-validation-rule>
                    <dxo-label template="Sexe "></dxo-label>
                </dxi-item>



                <!-- Date de naissance -->
                <dxi-item dataField="birthDate" editorType="dxDateBox" [editorOptions]="textBoxOptions">
                    <dxi-validation-rule type="required" message="Date de naissance obligatoire"></dxi-validation-rule>
                    <dxo-label template="Date de naissance "></dxo-label>
                </dxi-item>


                <!-- Mobile -->
                <dxi-item dataField="mobile" [editorOptions]="textBoxOptions">
                    <dxi-validation-rule type="required" message="Mobile obligatoire"></dxi-validation-rule>
                    <dxo-label template="Mobile "></dxo-label>
                </dxi-item>

                <!-- Numéro sécurité sociale -->
                <dxi-item dataField="socialSecurityNumber" [editorOptions]="textBoxOptions">
                    <dxo-label template="Numéro sécurité sociale "></dxo-label>
                </dxi-item>

                <!-- Email -->
                <dxi-item dataField="email" [editorOptions]="textBoxOptions">
                    <dxo-label template="Email"></dxo-label>
                </dxi-item>
                <dxi-item dataField="nextAppointment" editorType="dxDateBox" [editorOptions]="nextAppointment">
                    <dxi-validation-rule type="required" message="Date de naissance obligatoire"></dxi-validation-rule>
                    <dxo-label template="Prochain Rdv "></dxo-label>
                </dxi-item>

                <dxi-item dataField="referral" editorType="dxTextArea" [editorOptions]="textBoxOptions" [colSpan]="2">
                    <dxo-label template="Responsable"></dxo-label>
                </dxi-item>

            </dxi-item>

        </dx-form>
    </div>

    <!-- Historique médical -->
    <div id="form-container" class="box-shadow" style="height: fit-content;">

        <dx-form id="form" [formData]="currentRdv">

            <dxi-item itemType="group" [colCount]="1" caption="Dossier médical">

                <dxi-item itemType="group" [colCount]="1">

                    <dxi-item>

                        <dx-select-box [class]="'defaultTextBoxCssClass'" displayExpr="visitDateTitel"
                            [searchEnabled]="false" valueExpr="id" [acceptCustomValue]="false" [showClearButton]="false"
                            [(value)]="sexePteint" (onSelectionChanged)="onSelectionChanged($event)" [width]="200"
                            placeholder="Séléctionnez" [dataSource]="passedRdv">
                        </dx-select-box>
                        <div *ngIf="currentRdv.id" ><a style="cursor: pointer;
                            color: #8c54ac;" (click)="showRdvDetail()"><u>Modifier</u></a> </div>
                        <dxo-label template="Visite de"></dxo-label>
                     
                    </dxi-item>


                    <dxi-item dataField="description" editorType="dxTextArea" [editorOptions]="textBoxAeraOptions">
                        <dxo-label template="Consultation"></dxo-label>
                    </dxi-item>

                    <!-- photos -->

                    <dxi-item>

                        <span>Pièces Jointes </span>

                        <div style=" background-color: #f5f4f47d;
                                overflow: auto;
                                white-space: nowrap;
                                padding: 5px;
                                display: flex;
                            ">

                            <div *ngFor="let img of pjListeTemp ; let index=index "
                                style=" padding: 5px;float:left;box-shadow:0 1px 4px 1px rgb(0 0 0 / 5%);background-color: white;">
                                <img src="data:image/png;base64,{{img.patientDocumentsbase64}}" alt="Forest"
                                    (click)="viewImage(img.id)" width="150px" height="200px">
                                
                            </div>

                        </div>


                    </dxi-item>

                </dxi-item>

            </dxi-item>

        </dx-form>
    </div>

    <div fxFlex="calc(100% - 180px)" style="height: 100%;">


    </div>


</div>

<!-- image preview -->

<dx-popup [wrapperAttr]="{ class: 'searchAmorFiltresPopup' }" [showTitle]="true" [position]="'top'"
    [dragEnabled]="false" title="Aperçu" [hideOnOutsideClick]="true" [(visible)]="popupVisible">

    <div fxLayout="column" fxFill fxLayoutGap="5px" fxFill>
        <img src="data:image/png;base64,{{currentImageView}}" style="width: -webkit-fill-available;">
    </div>
</dx-popup>

<dx-popup [wrapperAttr]="{ class: 'searchAmorFiltresPopup' }"  [showTitle]="true"
    [position]="'top'" [dragEnabled]="false" title="Detail visite" [hideOnOutsideClick]="true"
    [(visible)]="popupRdvDetVisible">

    <div fxLayout="column" fxFill fxLayoutGap="5px" fxFill>
        <app-rdvDetails></app-rdvDetails>
    </div>
</dx-popup>