<div fxLayout="column" fxFill style="padding:20px;padding-top: 10px;" fxLayoutGap="8px">
    <div fxFlex="20px" class="titlePage">
        Visite Médical de : {{currentRdv?.startTime!}} 
    </div>




    <div fxFlex="62px" class="gridReserveOptions" fxLayout="row" fxLayoutGap="5px">



        <div class="colored box" style="cursor: pointer; flex-direction: row; box-sizing: border-box; display: flex;">

            <!-- buttons controle -->
           
            <div style="box-sizing: border-box; ">
                <div style="float: left;
                font-size: 14px;
                color: white;
                padding-top: 5px;">

                    <dx-button stylingMode="outlined" text="Enregistrer" type="normal" [width]="150" [icon]="'save'"
                    (click)="updateDetailRdv()"></dx-button>


                </div>
            </div>
            <div style="box-sizing: border-box; ">
                <div style="float: left;
                font-size: 14px;
                color: white;
                padding-top: 5px;">

                    <dx-button stylingMode="outlined" text="Terminer" type="normal" [width]="150" [icon]="'check'"
                    (click)="updateDetailRdv()"></dx-button>


                </div>
            </div>

        </div>


    </div>
   
    <!-- rdv -->
    <div style="background-color: #ddd7ee; color: black;">
         Patient
    </div>
<div style="background-color: #f9f8fc;">
    <div style="display: flex; padding-bottom: 8px;">
        <div>
            <span class="titreCmt">Nom et Prénom : </span>
            <span class="textCmt">{{currentRdv?.patient?.firstName!}} {{currentRdv?.patient?.lastName!}}</span>
            
        </div>
    </div>
    <div style="display: flex; padding-bottom: 8px;">
        <div>
            <span class="titreCmt">Date de naissance : </span>
            <span class="textCmt">{{currentRdv?.patient?.birthDate!}} </span>
            <span class="titreCmt">Age : </span>
            <span class="textCmt">{{currentRdv?.patient?.age!}} ans</span>
        </div>
    </div>
    <div style="background-color: #ddd7ee; color: black;">
         Consultation
    </div>
    <div style="padding-bottom: 8px;height: -webkit-fill-available;">
        <span class="titreCmt">Détail:</span>

        <dx-text-area
        #descText
        style="width: 100%;"
        [height]="350"
      
        [(value)]="currentRdv.description!"
        [autoResizeEnabled]="false"
        [inputAttr]="{ 'aria-label': 'Notes' }"
      >
      </dx-text-area>
      <dx-file-uploader
      style="height: fit-content;"
      selectButtonText="Parcourir"
      labelText="Fichiers acceptés png, pdf, jpeg"
      uploadMode="useForm"
      [multiple]="true" 
      (onValueChanged)="filesUploaded($event)"
      [allowedFileExtensions]="['.pdf', '.jpeg', '.png','.jpg']"
    >
    </dx-file-uploader>
    <dx-scroll-view>

        <div style=" background-color: #e7e7e7;
        overflow: auto;
        white-space: nowrap;
        padding: 5px;
        display: flex;
    ">

        <div *ngFor="let img of pjListeTemp ; let index=index "  style=" padding: 5px;float:left;box-shadow:0 1px 4px 1px rgb(0 0 0 / 5%);background-color: white;">
            <img  src="data:image/png;base64,{{img.patientDocumentsbase64}}" alt="Forest" (click)="viewImage(img.id)" width="150px" height="200px">
            <div class="desc" >
            <i class="dx-icon-trash dx-icon-custom-style" style="cursor: pointer;" (click)="DeletePj(img.id)"></i>
            </div>
        </div>
            
        </div>

    <!-- <div *ngFor="let img of pjListeTemp ; let index=index ">

                                  

                                            <div class="responsive">
                                                <div class="gallery">
                                                  
                                                    <img src="data:image/png;base64,{{img.patientDocumentsbase64}}" alt="Forest" onclick="window.open('anotherpage.html', '_blank');" width="400px" height="200px">
                                                 
                                                  <div class="desc" >
                                                    <i class="dx-icon-remove dx-icon-custom-style" style="cursor: pointer;" (click)="DeletePj(img.id)"></i>
                                                  </div>
                                                </div>
                                              </div>

    </div> -->

</dx-scroll-view>
    

</div>

</div>





       <!-- image preview -->

<dx-popup [wrapperAttr]="{ class: 'searchAmorFiltresPopup' }"  [showTitle]="true"
[position]="'top'" [dragEnabled]="false" title="Aperçu" [hideOnOutsideClick]="true"
[(visible)]="popupVisible">



<div fxLayout="column" fxFill fxLayoutGap="5px" fxFill>
    <img  src="data:image/png;base64,{{currentImageView}}" style="width: -webkit-fill-available;" >

</div>
</dx-popup>
    </div>


